
.rs-theme-light {
  --rs-gray-50: #f7f7fa;
  --rs-primary-50: #f2faff;
  --rs-primary-100: #cce9ff;
  --rs-primary-200: #a6d7ff;
  --rs-primary-300: #80c4ff;
  --rs-primary-400: #59afff;
  --rs-primary-500: #ff0000 !important;
  --rs-primary-600: #2589f5;
  --rs-primary-700: #ff0000 !important;
  --rs-primary-800: #0a5dc2;
  --rs-primary-900: #004299;

  --rs-color-red: #f44336;
  --rs-color-orange: #fa8900;
  --rs-color-yellow: #ffb300;
  --rs-color-green: #4caf50;
  --rs-color-cyan: #00bcd4;
  --rs-color-blue: #2196f3;
  --rs-color-violet: #673ab7;
}

.rs-theme-dark {
  --rs-gray-800: #1a1d24;
  --rs-primary-50: #f2faff;
  --rs-primary-100: #cce9ff;
  --rs-primary-200: #a6d7ff;
  --rs-primary-300: #80c4ff;
  --rs-primary-400: #59afff;
  --rs-primary-500: #00ffff !important;
  --rs-primary-600: #2589f5;
  --rs-primary-700: #19cbcb !important;
  --rs-primary-800: #0a5dc2;
  --rs-primary-900: #004299;

  --rs-color-red: #f44336;
  --rs-color-orange: #fa8900;
  --rs-color-yellow: #ffb300;
  --rs-color-green: #4caf50;
  --rs-color-cyan: #00bcd4;
  --rs-color-blue: #2196f3;
  --rs-color-violet: #673ab7;
}

.rs-theme-dark .table-toolbar {
  background: #1a1d24;
}

.rs-theme-light .table-toolbar {
  background: #f7f7fa;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.rs-theme-light .rs-table {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.table-toolbar {
  padding: 20px;
  border-radius: 4px 4px 0 0;
}

.rs-drawer-footer {
  text-align: left;
}

.rs-table {
  .link-group {
    cursor: pointer;
    .rs-table-cell-content {
      padding: 5px;
    }
  }
}

.rs-theme-dark .custom-table-container {
  background: #1a1d24;
}

.rs-theme-light .custom-table-container {
  background: #f7f7fa;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.custom-table-container {
  padding: 10px 20px;
}

.custom-table-cell {
  padding: 5px 10px;
}

.rs-theme-light .custom-table-cell {
  border: 1px solid #1a1d24;
}

.rs-theme-dark .custom-table-cell {
  border: 1px solid #f7f7fa;
}

@media (max-width: 576px) {
  .rs-drawer-xs {
    width: 94vw !important;
  }

  .drawer-users-actions {
    width: 94vw !important;
  }
}

@media (min-width: 576px) {
  .drawer-users-actions {
    width: 400px !important;
  }
}
